html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

span.my-badge {
    background-color: #04AA6D;
    color: white;
    padding: 1px 4px;
    text-align: center;
    border-radius: 5px;
    font-size: 80%;
}

span.my-badge-beta, span.my-badge-experimental {
    background-color: #c3a900;
}

ul.sparse li {
    margin-bottom: 0.25rem;
}

.search-highlighted {
    background-color: chartreuse;
}

.table-fixed {
    table-layout: fixed;
}

.btn-xs {
    padding: 0.15rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.my-sup {
    position: relative;
    top: -0.2em;
}

.my-sup-2 {
    position: relative;
    top: -0.7em;
}

.my-vertical {
    writing-mode: vertical-rl;
    text-align: end;
}