html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

span.in-progress {
    background-color: #04AA6D;
    color: white;
    padding: 1px 4px;
    margin-left: 6px;
    text-align: center;
    border-radius: 5px;
    font-size: 80%;
}

span.in-progress::after {
    content: "IN PROGRESS";
}

ul.sparse li {
    margin-bottom: 0.25rem;
}

.search-highlighted {
    background-color: chartreuse;
}
