@{
    ViewBag.Title = "Анализ Тональностей";
    Layout = "_Layout";
}

<h1 class="display-4">Анализ Тональностей</h1>

<p>
    Этот раздел посвящен анализу тональностей песен и аккордовых прогрессий. Он предоставляет информацию о результатах, вероятностях и весах, полученных с использованием <b>алгоритма максимизации ожидания (Expectation-Maximization, EM).</b> Здесь можно исследовать результаты алгоритма, чтобы уточнять и корректировать модель. Есть детальные фильтры.
</p>

<p>
    Алгоритм EM итеративно уточняет вероятности тональностей для песен и циклов (аккордовых прогрессий) на основе наблюдаемых данных. Алгоритм стремится максимизировать вероятность наблюдаемых данных в рамках модели, корректируя вероятности и оценки тональностей для лучшего соответствия данным. Этот процесс включает в себя расчет вероятностей, обновление оценок на основе этих вероятностей и итерацию до достижения сходимости. Результатом является набор вероятностей и оценок, указывающих наиболее вероятные тональности для песен и циклов.
</p>

<h1 class="display-4 mt-5">Доступные Запросы</h1>

<h3>
    @Html.ActionLink("\u2713 Анализ тональностей песен \u2192", "Songs", "Tonalities", new { JustForm = true })
</h3>
<p>Исследуйте модель с точки зрения песен, анализируя тональности и их статистическое распределение.</p>

<h3>
    @Html.ActionLink("\u2713 Анализ тональностей прогрессий \u2192", "Loops", "Tonalities", new { JustForm = true })
</h3>
<p>Рассмотрите модель с точки зрения циклов (аккордовых прогрессий), сосредоточив внимание на тональностях и их статистическом распределении.</p>