@using HarmonyDB.Playground.Web.Models.Home
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">An illustrative tool for music harmony analysis</h1>

<p>
    Welcome to the playground interface for the Harmony DB! I intend to make it a tool to help study and research the music theory, understand harmony movements by exploring the database, and find out how chord progressions can evolve.
</p>
<p>
    There is a library of thousands of songs and their chords, development is ongoing. Currently, the Harmony DB contains information about the chord progressions used in the songs, and I try to do harmony analysis here. This project allows to explore the database and run queries on the Harmony DB index.
</p>
<p>
    The future vision of the Harmony DB is to be able to handle requests of any complexity, corresponding to any kind of information you want to ask the database.
</p>
<p>
    The Harmony DB is an open source project, hosted on Azure, and has a free and open API. Please contact me if you'd like to use it, or if you have any ideas about queries you'd like to run or needs you might have.
</p>

<h1 class="display-4 mt-5">Available Queries</h1>
<p>Here are the types of requests that are currently implemented:</p>
<h3 class="mt-3">
    @Html.ActionLink("\u2713 Search songs by chords sequence \u2192", "SongsByChords", "Home")
</h3>
<p>Allows you to find examples of songs that contain a given chord sequence. The results are sorted by coverage or by song rating.</p>

<h3 class="mt-3">
    @Html.ActionLink("\u2713 Search songs by title \u2192", "SongsByHeader", "Home")
</h3>
<p>Allows you to find songs by partial words in title or artists.</p>

<h3 class="mt-3">
    @Html.ActionLink("\u2713 See the most popular chord progressions \u2192", "Loops", "Home", new LoopsModel { JustForm = true })
</h3>
<p>All songs have been analyzed and the chord progression loops (repetitive subsequences) have been extracted. This query shows all progressions, starting with the most popular.</p>
<p>For loops, statistics on how often a cycle continuously follows itself or how often it is followed by a different cycle is also calculated.</p>

<h3 class="mt-3">
    @Html.ActionLink("\u2713 Tonalities analysis \u2192", "Index", "Tonalities")
</h3>
<p>View the analysis of song tonalities and chord progressions, including scores, probabilities, and weights. This area is usable for model refinement and adjustment. It also aids in understanding tonality detection and allows for exploration through detailed filters.</p>

<h1 class="display-4 mt-5">More queries and visuals coming</h1>
<p>Here are some ideas and future development plans. Please drop me a line if you have items you would like to see added to this list.</p>
<p>
    <ul class="sparse">
        <li>Analysis of how different chord sequences can continue, similar to that of the <a href="https://www.hooktheory.com/theorytab">Hooktheory TheoryTab DB</a>. It will allow you to drill down the tree of possible progression continuation variants, with probabilities and examples of songs.</li>
        <li>Highlighting of found sequences and repeating loops in the song.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Analysis and statistics of transitions from one sequence to another.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Statistics on how often a loop tends to cover the whole song.</li>
        <li>Analyze the relationship between loops, how often they occur together in the same song (compatibility), and perhaps identify clusters of sequences that are more likely to occur together.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Statistics of possible extra notes in the chords in the sequences (possible 7 / 9 / 11 / 13, bass notes, etc.) - and how it depends on the chord sequence.</li>
        <li>Tonality detection - what key is the song in?@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Chord substitution options within loops and their variations.</li>
        <li>Modulation detection - e.g. find songs with modulations 3 steps up, or how likely are the popular sequences to be in the songs with modulations, or find songs with modulations by a given artist, etc.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Modulation options - possible transitions and their exact mechanisms, their connection points to the main sequences, etc.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Bridge creation ideas based on existing bridges in songs with similar chord sequences, popularity of different bridges in different genres, etc.</li>
        <li>Harmonic analysis - detection and naming of chord functions in a given context, and detection of peculiarities of the development of song harmony in a given song.</li>
        <li>Display of maps showing how and where a given chord sequence loop may exit, with probabilities, and allowing to drill down into them.</li>
        <li>Display the statistical popularity of chord progressions in a given song.</li>
        <li>Calculate and display the harmonic uniqueness of songs and specific chords in a given context, allowing you to find the most unique songs or chords.</li>
        <li>Search for strange harmonies, mode deviations, borrowed chords, etc.</li>
        <li>What chord could be played instead in this spot? How can this sequence be altered?</li>
        <li>Enriching the database with data on genres, years, countries, allowing to include corresponding filters in queries and view corresponding output from queries, make corresponding grouping of results, etc.</li>
        <li>Work with unknown parameters. Search and evaluate beautiful or unusual songs by unknown parameters, try to identify these parameters and specific features, analyze the resulting data.</li>
        <li>Clustering moods or themes of songs based on lyrics using OpenAI GPT, trying to find relationships between moods and harmonies.</li>
    </ul>
</p>
<p>
    Do you have other ideas? I'd love to hear about them. Please post them in the <a target="_blank" href="https://github.com/pavel-zhur/HarmonyDB/discussions">GitHub discussions</a> or contact me using one of the methods below.
</p>

<h1 class="display-4 mt-5">Contacts</h1>
<p>
    Author: Pavel Zhur
    <br />
    E-mail: <a href="mailto:completely.real@gmail.com">completely.real@gmail.com</a>
    <br />
    Telegram: <a href="https://t.me/pavel_zhur" target="_blank">@@pavel_zhur</a>
    <br />
    GitHub: <a href="https://github.com/pavel-zhur/HarmonyDB" target="_blank">https://github.com/pavel-zhur/HarmonyDB</a>
</p>