@using HarmonyDB.Playground.Web.Models.Home
@{
    ViewData["Title"] = "Главная";
}

<h1 class="display-4">Наглядная база данных для анализа музыкальной гармонии</h1>

<p>
    Добро пожаловать в интерфейс базы Harmony DB! Я планирую сделать её инструментом, помогающим изучать и исследовать теорию музыки, понимать движения гармонии, пользуясь базой данных, и узнавать, как могут развиваться аккордовые прогрессии.
</p>
<p>
    В библиотеке тысячи песен и их аккордов, разработка идет. Сейчас база данных Harmony DB содержит информацию об аккордовых прогрессиях, встречающихся в песнях, и я пытаюсь делать здесь гармонический анализ. Этот проект позволяет исследовать базу данных и выполнять запросы к индексу Harmony DB.
</p>
<p>
    Будущее видение Harmony DB состоит в том, чтобы иметь возможность обрабатывать запросы любой сложности, соответствующие любому виду информации, которую вы хотели бы запросить у базы данных.
</p>
<p>
    Harmony DB - это проект с открытым исходным кодом, размещенный в Azure, и имеющий бесплатный и открытый API. Пожалуйста, свяжитесь со мной, если вы хотите использовать ее, или если у вас есть идеи о запросах, которые вы хотели бы выполнить, или о задачах, которые у вас могут возникнуть.
</p>

<h1 class="display-4 mt-5">Доступные запросы</h1>
<p>Вот типы запросов, которые реализованы в настоящее время:</p>
<h3 class="mt-3">
    @Html.ActionLink("\u2713 Поиск песен по последовательности аккордов \u2192", "SongsByChords", "Home")
</h3>
<p>Ищет песни, содержащих заданную последовательность аккордов. Результаты сортируются по покрытию или по рейтингу песни.</p>

<h3 class="mt-3">
    @Html.ActionLink("\u2713 Поиск песен по заголовку \u2192", "SongsByHeader", "Home")
</h3>
<p>Ищет песни по части слов в названии или исполнителях.</p>

<h3 class="mt-3">
    @Html.ActionLink("\u2713 Посмотреть популярные аккордовые прогрессии \u2192", "Loops", "Home", new LoopsModel { JustForm = true })
</h3>
<p>Все песни были проанализированы и из них были извлечены циклы аккордовых прогрессий (повторяющиеся последовательности). Этот запрос показывает все прогрессии, от самых популярных.</p>
<p>Для циклов также подсчитывается статистика того, как часто цикл непрерывно следует сам за собой или как часто за ним следует другой цикл.</p>

<h1 class="display-4 mt-5">Больше запросов и визуализаций скоро</h1>
<p>Вот некоторые идеи и планы на будущее. Пожалуйста, напишите мне, если у вас есть вопросы, которые вы добавили бы в этот список.</p>
<p>
    <ul class="sparse">
        <li>Анализ того, как могут развиваться разные аккордовые последовательности, подобный тому, как это делается в <a href="https://www.hooktheory.com/theorytab">Hooktheory TheoryTab DB</a>. Это позволит вам развернуть дерево вариантов продолжения прогрессии, с вероятностями и примерами песен.</li>
        <li>Выделение найденных последовательностей и повторяющихся циклов в песне.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Анализ и статистика переводов из одной последовательности в другую.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Статистика того, как часто цикл последовательности покрывает всю песню.</li>
        <li>Анализ взаимосвязи между циклами, как часто они встречаются вместе в одной песне (совместимость), и, может быть, выделение кластеров последовательностей, которые с большей вероятностью встречаются вместе.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Статистика возможных дополнительных нот в аккордах в последовательностях (возможные 7 / 9 / 11 / 13, басовые ноты и т. д.) - и как они зависят от последовательности аккордов.</li>
        <li>Определение тональности - в какой тональности находится песня?@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Варианты замены аккордов в прогрессии и их вариации.</li>
        <li>Определение модуляций - например, поиск песен с модуляциями на 3 ступени выше, или насколько вероятно появление популярных последовательностей в песнях с модуляциями, или поиск песен с модуляциями у конкретного исполнителя, и т. д.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Варианты модуляций - возможные переходы и их точные устройства, точки их соединения с основными последовательностями и т. д.@await Html.PartialAsync("Badge", BadgeModel.InProgress)</li>
        <li>Идеи создания бриджей на основе существующих бриджей в песнях с похожими аккордовыми последовательностями, популярности разных бриджей в разных жанрах и т. д.</li>
        <li>Гармонический анализ - определение и обозначение аккордовых функций в данном контексте, выяснение особенностей построения гармонии в конкретной песне.</li>
        <li>Отображение схем, показывающих, как и куда может выйти цикл аккордовой последовательности, с указанием вероятностей и возможностью углубления дальше.</li>
        <li>Отображение статистической популярности аккордовых прогрессий в конкретной песне.</li>
        <li>Вычисление и показ уникальности гармонических характеристик песен или отдельных аккордов в конкретном контексте, позволяя находить наиболее уникальные песни или аккорды.</li>
        <li>Поиск необычных гармоний, отклонений от лада, заимствованных аккордов и т. д.</li>
        <li>Какой аккорд можно было бы сыграть вместо этого в этой точке? Как можно изменить эту последовательность?</li>
        <li>Дополнение базы данных данными о жанрах, годах, странах, чтобы можно было включать при запросе соответствующие фильтры и видеть соответственную выдачу по запросам, делать группировку результатов и т. д.</li>
        <li>Работа с неизвестными характеристиками. Поиск и оценка красивых или необычных песен по неизвестным параметрам, попытка выделить эти параметры и специфику, разбор итоговых данных.</li>
        <li>Кластеризация настроений или тем песен на основе текстов с помощью OpenAI GPT, попытка найти взаимосвязи между настроениями и гармониями.</li>
    </ul>
</p>
<p>
    У вас есть другие идеи? Я буду рад услышать о них. Пожалуйста, оставляйте их в <a target="_blank" href="https://github.com/pavel-zhur/HarmonyDB/discussions">обсуждениях на GitHub</a> или свяжитесь со мной одним из способов ниже.
</p>

<h1 class="display-4 mt-5">Контакты</h1>
<p>
    Автор: Павел Жур
    <br/>
    E-mail: <a href="mailto:completely.real@gmail.com">completely.real@gmail.com</a>
    <br/>
    Телеграм: <a href="https://t.me/pavel_zhur" target="_blank">@@pavel_zhur</a>
    <br/>
    GitHub: <a href="https://github.com/pavel-zhur/HarmonyDB" target="_blank">https://github.com/pavel-zhur/HarmonyDB</a>
</p>