@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">An illustrative tool for music analysis</h1>

<p>
    Welcome to the playground interface for the Harmony DB! I intend to make it a tool to help study and research the music theory, understand harmony movements by exploring the database, and find out how chord progressions can evolve.
</p>
<p>
    There is a library of thousands of songs and their chords, development is ongoing. Currently, the Harmony DB contains information about the chord progressions used in the songs, and I try to do harmony analysis here. This project allows to explore the database and run queries on the Harmony DB index.
</p>
<p>
    The future vision of the Harmony DB is to be able to handle requests of any complexity, corresponding to any kind of information you want to ask the database.
</p>
<p>
    The Harmony DB is an open source project, hosted on Azure, and has a free and open API. Please contact me if you'd like to use it, or if you have any ideas about queries you'd like to run or needs you might have.
</p>

<h2>Contacts</h2>
<p>
    Author: Pavel Zhur
    <br />
    E-mail: <a href="mailto:completely.real@gmail.com">completely.real@gmail.com</a>
    <br/>
    Telegram: <a href="https://t.me/pavel_zhur" target="_blank">@@pavel_zhur</a>
    <br/>
    GitHub: <a href="https://github.com/pavel-zhur/HarmonyDB" target="_blank">https://github.com/pavel-zhur/HarmonyDB</a>
</p>