@using HarmonyDB.Common.FullTextSearch
@inject ILogger<SearchHighlighting> Logger
@foreach (var (fragment, isHighlighted) in SearchHighlightingTools.GetFragments(Query, Text))
{
    <span class="@(isHighlighted ? "search-highlighted" : null)">@fragment</span>
}

@code {


    [Parameter]
    public required string? Query { get; set; }

    [Parameter]
    public required string Text { get; set; }

    

}