@page "/how-to-install"

<h3>Как установить?</h3>

<p>Можно установить шкаф приложением, так что его иконка будет на главном экране, и приложение будет <span class="my-bolder">работать офлайн.</span></p>

<img src="img/home.png" class="mb-3" />

<h5>Андроид</h5>

<ol>
    <li>Откройте шкаф в браузере Chrome.</li>
    <li>Возле адресной строки есть три точечки, там меню.</li>
    <li>"На экран домой" / "Установить приложение" / "Install app".</li>
    <li>Все, шкаф добавился на главный экран и в меню приложений.</li>
    <li>Закройте браузер и откройте его оттуда.</li>
</ol>

<h5>Айфон</h5>

<ol>
    <li>Откройте шкаф в браузере Chrome или Safari, лучше Chrome.</li>
    <li>Есть меню которое открывается иконочкой "поделиться"/"отправить".</li>
    <li>"На экран домой" / "Установить приложение" / "Add to home screen".</li>
    <li>Все, шкаф добавился на главный экран и в меню приложений.</li>
    <li>Закройте браузер и откройте его оттуда.</li>
</ol>

<h5>Компьютер</h5>

<ol>
    <li>Откройте шкаф в браузере Chrome.</li>
    <li>В адресной строке справа есть такая иконка, "установить".</li>
    <li>Нажмите её.</li>
    <li>Закройте вкладку и откройте его оттуда.</li>
</ol>

@code {

}
