div.section {
    margin-top: 20px;

    button {
        width: 85%;
        margin: 3px;
    }
}

div.info {
    color: darkgray;
    font-size: 0.8rem;
}

div.majorinfo {
    font-size: 0.9rem;
}

div.input-field {
    width: 100%;
}