@page "/releasenotes"

<h1>Один шкаф</h1>

<h3>Версия 1.1</h3>

<div>
    <p>1 октября 2024.</p>
    <ul>
        <li>Исправлено офлайн-хранилище аккордов.</li>
        <li>Автоскачивание аккордов через полминуты после инициализации.</li>
    </ul>
</div>

<h3>Версия 1.0</h3>

<div>
    <p>21 мая 2024.</p>
    <ul>
        <li>Открытый исходный код и первая публичная версия (приложения, бота, и сервисов) &ndash; <a target="_blank" href="https://github.com/pavel-zhur/HarmonyDB">https://github.com/pavel-zhur/HarmonyDB</a>.</li>
        <li>Поддержка нескольких клубов.</li>
        <li>Поддержка пользователей, которые не члены клубов.</li>
        <li>Подготовка к разработке Harmony DB.</li>
        <li>Обновление до .Net 8.</li>
    </ul>
</div>

<h3>Версия 0.13</h3>

<div>
    <p>01 мая 2024.</p>
    <ul>
        <li>Начато определение циклов и сбор аккордового индекса.</li>
    </ul>
</div>

<h3>Версия 0.12</h3>

<div>
    <p>21 января 2024.</p>
    <ul>
        <li>Чуть-чуть работает поиск аккордовых прогрессий.</li>
    </ul>
</div>

<h3>Версия 0.11</h3>

<div>
    <p>6 января 2024.</p>
    <ul>
        <li>Упрощенные аккорды.</li>
    </ul>
</div>

<h3>Версия 0.10</h3>

<div>
    <p>29 декабря 2023.</p>
    <ul>
        <li>Зум.</li>
        <li>Возможность добавлять свои аккорды.</li>
    </ul>
</div>

<h3>Версия 0.9</h3>

<div>
    <p>4 декабря 2023.</p>
    <ul>
        <li>Немножко показываются иллюстрации, сгенеренные ботом.</li>
        <li>Пофикшены нажатия на айфоне.</li>
    </ul>
</div>

<h3>Версия 0.8</h3>

<div>
    <p>3 ноября 2023.</p>
    <ul>
        <li>Исправлены аккорды, которые нестабильно работали.</li>
    </ul>
</div>

<h3>Версия 0.7</h3>

<div>
    <p>17 октября 2023.</p>
    <ul>
        <li>Тюнер.</li>
        <li>Аппликатуры аккордов для гитары - отдельная страница и всплывашка по нажатию на аккорд.</li>
    </ul>
</div>

<h3>Версия 0.6</h3>

<div>
    <p>14 октября 2023.</p>
    <ul>
        <li>Улучшилась производительность. Навигация по аккордам, транспонирование, и вообще. Стало раза в три быстрее, некоторые действия почти мгновенные.</li>
        <li>Выпустились <a href="/categories">списочки</a>.</li>
        <li>Улучшились приветственные описания на странице логина и на главной.</li>
        <li>Появился текстовый мануал, как ставить приложение, и он виден, если оно не поставлено.</li>
        <li>Прогресс скачивания аккордов появляется в заголовке.</li>
        <li>Появилось описание, как бороться с server error при логине на айфоне.</li>
        <li>Обновления прилетают сразу.</li>
        <li>Фикс бага с нижней кнопкой открытия меню при первом заходе.</li>
        <li>Начало синхронизации библиотеки сразу при загрузке, не дожидаясь, когда человек зайдет в библиотеку.</li>
        <li>Не вылазит переводчик в chrome больше, он там не нужен и всем мешал, и было опасно нажать на него.</li>
        <li>Успокаивающая нотификация о первой долгой загрузке.</li>
    </ul>
</div>

<h3>Версия 0.5</h3>

<div>
    <p>10 сентября 2023.</p>
    <ul>
        <li>Чуть-чуть улучшился дизайн.</li>
        <li>Белые сердечки чтобы просто пометить тональность или добавить песню, не добавляя ее себе в шортлист.</li>
        <li>Улучшение производительности облака, держится всегда разогретое.</li>
    </ul>
</div>

<h3>Версия 0.4</h3>

<div>
    <p>17 августа 2023.</p>
    <ul>
        <li>Добавилась часть возможности генерировать книжки. Пока сыровато. Для генерации томов 6 и 7.</li>
    </ul>
</div>

<h3>Версия 0.3</h3>

<div>
    <p>10 августа 2023.</p>
    <ul>
        <li>Добавилось отображение ступеней вместо аккордов</li>
    </ul>
</div>

<h3>Версия 0.2</h3>

<div>
    <p>20 июня 2023.</p>
    <ul>
        <li>Добавилось отображение аккордов на кварто-квинтовом круге (кнопка "ккк" когда смотрим аккорды)</li>
    </ul>
</div>

<h3>Версия 0.1</h3>

<div>
    <p>10 мая 2023. Шкаф умеет:</p>
    <ul>
        <li><a href="/how-to-install">Устанавливаться на андроид и айфон и компьютер</a> как приложение</li>
        <li>Работает с компьютера и из браузера телефона (удобно на большом экране)</li>
        <li>Показывает и ищет песни и аккорды из библиотеки чата, ссылки на аккорды из интернета, которых нет в библиотеке</li>
        <li>Библиотека чата с поиском и шортлисты (видны только участникам чата)</li>
        <li>Поиск песен из разных источников</li>
        <li>Транспонирование и сохранение любимой тональности</li>
        <li>Видно кто какие аккорды и тональности любит</li>
        <li>Возможность показать аккорды диезами кто любит диезы, и бемолями кто любит бемоли</li>
        <li>Если нажать на аккорд, он проиграется (пока только не айфоне)</li>
        <li>Если аккорды не помещаются на экран, работает перенос, и аккорды переносятся правильно - сохраняют верную позицию</li>
        <li>Можно смотреть шортлисты других участников чата</li>
        <li>Все аккорды песни лайки доступны если у вас нет интернета</li>
        <li>Лайкать можно без интернета, можно залогинившись на разных устройствах, работает синхронизация</li>
        <li>Можно вернуться к недавно просмотренным аккордам и недавим поискам своим (видно только вам)</li>
        <li>По номеру песни (который в книжках) тоже можно искать, и он виден если найти песню</li>
        <li>Что недавно добавлено в библиотеку чата</li>
    </ul>
    <p>Планирую:</p>
    <ul>
        <li>Сделать дизайн нормальный, а не вот такой</li>
        <li>Сделать чтоб оно генерило пдфки и можно было легко вывести на печать любые аккорды, для книжки или для просто распечатки</li>
        <li>Короткие памятки к песням дать людям писать, если что-то важное про песню хочется не забыть. И эти памятки будут видны другим участникам чата</li>
        <li>Поддерживать даже не залогиненных людей и несколько клубов, лайки и шортлисты и памятки останутся свои внутри каждого клуба, а так пользоваться сможет кто захочет, и создавать свои клубы</li>
        <li>Дать возможность не только сердечки ставить а еще и какие-то тэги, чтобы как-то тематично можно было песни лайкать, или категории</li>
        <li>Сделать чтобы оно быстрее работало</li>
        <li>Что-нибудь еще.</li>
    </ul>
</div>