@using Microsoft.AspNetCore.Mvc.Localization
@model BadgeModel
@inject IViewLocalizer ViewLocalizer

<span class="my-badge @(Model == BadgeModel.Beta ? "my-badge-beta" : Model == BadgeModel.Experimental ? "my-badge-experimental" : null)">@ViewLocalizer[Model.ToString()]</span>