@{
    ViewBag.Title = "Too many requests";
    Layout = "_Layout";
}

<h2>Too many requests.</h2>

<p>Please try to refresh in a few moments: <input type="button" value="Refresh" oninput="location.reload()"/></p>