@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{
    ViewBag.Title = ViewLocalizer["Too many requests"];
    Layout = "_Layout";
}

<h2>@ViewLocalizer["Too many requests"].</h2>

<p>@await Html.PartialAsync("ConcurrencyPartial")</p>